{% extends 'base.html' %} {% block content %}
<div class="flex flex-col gap-[10px]">
  <div>
    <form action="/search" method="post" class="flex flex-row gap-[10px]">
      <input class="inpt" type="text" name="name" placeholder="name" required />
      <input class="btn" type="submit" value="search" />
    </form>
  </div>

  <div class="flex gap-[15px]">
    <button class="black_btn">
      <a href="/new" class="w-fit">add contact</a>
    </button>

    <button class="black_btn">
      <a href="/all" class="w-fit">show all</a>
    </button>
  </div>
</div>

{% endblock %}
