{% import "_macros.html" as macros %}

<!doctype html>
<html lang="en" class="scroll-smooth">
  {{ macros.head() }}

  <body class="mx-[20px] my-[40px] font-mono" hx-target="this" id="base">
    <div class="mx-auto flex w-fit flex-col gap-[20px]">
      <div>
        <a href="/" hx-get="{{url_for('index')}}">
          <h1
            class="text-text_blue text-[42px] hover:underline active:text-black"
          >
            Contacts.app
          </h1>
        </a>

        <h2 class="text-[24px] text-slate-500">A Demo Contacts Application</h2>
        <hr />
      </div>

      {% block content %}{% endblock %}
    </div>
  </body>
</html>
