<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/output.css" />
    <title>Contact App</title>
  </head>
  <body class="mx-[20px] my-[40px] font-mono">
    <div class="mx-auto flex w-fit flex-col justify-center gap-[20px]">
      <div>
        <h1 class="text-[42px] text-blue-700"><a href="/">Contacts.app</a></h1>
        <h2 class="text-[24px] text-slate-500">A Demo Contacts Application</h2>
        <hr />
      </div>

      <h1 class="border px-[15px] py-[5px] text-[16px]">
        Operation successful.
      </h1>

      <a href="/">
        <button class="btn">return</button>
      </a>
    </div>
  </body>
</html>
